.connect-wallet-light {
    height: 46px !important;
    background : rgba(139, 113, 0, 0.508) !important;
    color : whitesmoke !important;
    font-weight: 600 !important;
}
.connect-wallet-dark {
    height: 46px !important;
    background : lightcoral !important;
    color : whitesmoke !important;
    font-weight: 600 !important;
}
